@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-gray-100 overflow-x-hidden;
    background-image:
      linear-gradient(to right, #111 1px, transparent 1px),
      linear-gradient(to bottom, #111 1px, transparent 1px);
    background-size: 40px 40px;
    margin: 0;
    background-color: #000;
    /* Fundo preto absoluto */
  }
}

/* Efeito de brilho neon para textos */
.neon-text {
  text-shadow: 0 0 10px rgba(0, 242, 255, 0.7), 0 0 20px rgba(0, 242, 255, 0.3);
}

/* Efeito de vidro para os cards */
.glass-card {
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 242, 255, 0.1);
}

